html, body {
    color: #182128;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.c-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1 0 0;
    outline: none;
}

.c-flex-column {
    flex-direction: column;
}

#root, .App {
    height: 100%;
    width: 100%;
}

.full-height {
    height: 100%;
    min-height: 0;
}

input:focus, select:focus, option:focus {
    outline-offset: 0px !important;
    outline: 0px solid transparent !important;
}

.link-form {
    color: #1E89FD;
    text-decoration: none;
    margin: auto 0;
    cursor: pointer;
}

.link-form:hover {
    color: #1E89FD;
    text-decoration: underline;
}

button:focus {
    outline: 0px !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.m-t-32 {
    margin-top: 32px;
}


// Table

.transactional-dashboard-content, .manage-account {
    .transactional-dashboard-table {
        border-collapse: collapse;
        border-spacing: 0;
        border-radius: 14px;
        border-style: hidden;
        width: 100%;
        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.08);
        thead {
            background: #F4F7FD;
            border: 1px solid #E5EAF3;
            th {
                text-align: center;
                padding: 21px 15px;
                font-weight: 500;
                font-size: 10px;
                line-height: 12px;
                text-transform: uppercase;
                color: #333333;
                &:first-child {
                    text-align: left;
                    padding-left: 35px;
                }
            }
        }
        tbody {
            background: #FFFFFF;
            tr {
                border-bottom: 1px solid #E5EAF3;
                &:last-child {
                    border-bottom: 0px;
                }
            }
            td {
                font-size: 12px;
                line-height: 14px;
                color: #333333;
                padding: 21px 15px;
                text-align: center;
                &:first-child {
                    text-align: left;
                    padding-left: 35px;
                }
                &:last-child {
                    cursor: pointer;
                    padding: 0px;
                    padding-right: 35px;
                }
                img {
                    padding: 0px 20px;
                }
            }
        }
    }
}