.dashboard {
    padding: 56px 20px 18px;
    .title {
        margin-bottom: 32px;
        p {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #130F23;
            margin-bottom: 0px;
        }
        a {
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            color: #8A899C;
            margin: auto 0;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .frequently-used {
        .main-card {
            padding: 14px;
            display: flex;
            color: #FFFFFF;
        }
        .card-icon {
            height: 42px;
            width: 23.7%;
            border-radius: 10px;
            margin: auto;
            display: flex;
            justify-content: center;
        }
        .card-1 {
            background: #FFA372 !important;
            .card-icon {
                background: rgba(255, 255, 255, 0.2);
            }
        }
        .card-2 {
            background: #ED6663 !important;
            .card-icon {
                background: rgba(255, 255, 255, 0.1);
            }
        }
        .card-3 {
            background: #4E4CAC !important;
            .card-icon {
                background: rgba(255, 255, 255, 0.2);
            }
        }
        .card-4 {
            background: #9698D5 !important;
            .card-icon {
                background: #A3A5DE;
            }
        }
    }
    .transactional-dashboard {
        .transactional-dashboard-list {
            cursor: pointer;
            div {
                margin: auto 25px; 
                padding: 10px 0px;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                color: #8F8F8F;
            }
            .active_item {
                color: #130F23;
                border-bottom: 2px solid #FF7643;
            }
        }
    }
}

.borderTopLeftRadius {
    border-top-left-radius: 14px;
}

.borderTopRightRadius {
    border-top-right-radius: 14px;
}

.title-last {
    margin-bottom: 22px !important;
}

tr:last-child td:first-child { border-bottom-left-radius: 14px !important; }
tr:last-child td:last-child { border-bottom-right-radius: 14px !important; }


.side-nav {
    .image-responsive {
        svg {
            width: 124px;
            height: 24px;
        }
    }
}